.mt {
  margin-top: 15px;
}

.mb {
  margin-bottom: 15px;
}

.ml {
  margin-left: 5px;
}

.mr {
  margin-right: 5px; 
}

.pr {
  padding-right: 5px;
}

.pl {
  padding-left: 5px;
}

.fa-times-circle {
  margin-left: 190px; 
  cursor: pointer;
}

.sort_selected::after {
  content: '\f00c';
  font-family: FontAwesome;
  font-weight: normal;
  margin: 0 0 0 10px;
  display: inline-block;
}